html {background:#FFFFFF;}
body{background: #fff;color:#000000;font-size:0.9em;line-height:24px;font-family:courier, Times,serif;}
a:link, a:visited{color:#000000;text-decoration:none}
a:hover{color:#99AFAF;text-decoration:underline}
#header, #footer, #primary{display:none;}
 
