/*
THEME NAME: Boumatic-Ben
THEME URI: http://beneberle.com/
DESCRIPTION: Based on the <a href="http://allancole.com/wordpress/themes/boumatic">Boumatic</a>.
VERSION: 1.5
AUTHOR: Ben Eberle
AUTHOR URI: http://beneberle.com/
TEMPLATE: thematic
TAGS:three columns,fixed width,simple,seo,microformats,widgets,framework,options page,hooks,filters,valid XHTML,valid CSS
.
This work, like WordPress, is released under GNU General Public License, version 2 (GPL).
http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
.
*/

/* Reset browser defaults */
@import url('../thematic/library/styles/reset.css');
 
/* Apply basic typography styles */
@import url('../thematic/library/styles/typography.css');
 
/* Apply a basic 3 column layout */
/*@import url('../thematic/library/layouts/2c-r-fixed.css');*/
 
/* Apply basic image styles */
@import url('../thematic/library/styles/images.css');
 
/* Apply styles for popular plugins */
@import url('../thematic/library/styles/plugins.css');

/* =Global Elements OG GREY #FBFAF8
-------------------------------------------------------------- */
html {}
body{/*background: url('img/bg/page-bg.png') 0px 0px no-repeat fixed;*/
	color:#333;
	font-size:1em;
	line-height:1.3em;
	font-family:georgia, courier, Times, serif;
}
#wrapper{
    margin: 15px auto;
    width:90%;
    }
a:link, a:visited{color:#333333;text-decoration:none}
a:hover{color:#99AFAF;text-decoration:underline}
blockquote{font-style:italic;font-size:13px}
blockquote em, blockquote cite, blockquote i{font-style:normal}
.important{font-weight:bold}
/* =Forms ------*/
input, textarea{font-family:Georgia,serif;border-top:none;border-left:none;border-right:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;}
input#submit, input#searchsubmit {
    color:#333;
    font-style:italic;
    border-top:none;
    border-left:none;
    border-right:1px solid #DFDFDF;
    border-bottom:1px solid #DFDFDF;
    cursor:pointer;
    font-size:1.25em;
    padding:4px;
}

/* =Header
-------------------------------------------------------------- */
#header{
	padding:0;
	display:block;
        /*background:url('img/leftcolumn-bg.gif') 4px top no-repeat;*/
	}
/*
#header:hover a:link, #header:hover a:visited{color:#212121;text-decoration:none}

 #blog-title a span{display:none;} */
#blog-description{
    color:#212121;
    font-style:italic;
    line-height:24px;
    padding:10px 10px 10px 20px;
    margin-top:1px;
    background: #fff2f2;
}
#branding{margin:0;float:left}
#blog-title{font-size:2.5em;line-height:36px;font-weight:bold;letter-spacing:-1px;padding:0;margin:0 0 0 -0.41em;}
#blog-title a{
    text-decoration:none;
    display:block;
    color:#fff2f2;
    background:url('img/recipes-logo.png') top left no-repeat;
    width:168px;
    height:172px;
}
#blog-title a span{display:block;text-indent: -9999px;}
#access:hover a:hover{text-decoration:none;}

#blog-title:hover a:hover,
#blog-title a:hover{
    background-position:left -171px;
}


/* =Menu
-------------------------------------------------------------- */
#access{}
.skip-link{display:none}
.menu{
    margin:13px 0 0 2em;
    float:left;
}
.menu ul{margin:0;list-style:none;clear:both}
.menu ul ul{
    display:none;
    list-style:none;
    margin-bottom:25px;
}
.menu ul li.current-cat ul{display:block;}
div.menu ul li{
    display:block;
    float:left;
    font-size:1em;
   }
div.menu ul li li{
    font-size:.75em;
    border:none;
    background:url('img/menu-rule.png')bottom center no-repeat;
    float:none;
}
.menu a{
    display:block;
    padding:8px;
    margin-bottom:3px;
    line-height:1.5em;
    text-decoration:none;
    color:#212121;
}
.menu ul li ul li a{
    display:block;
    padding:2px 8px;
    margin-bottom:3px;
    line-height:1.5em;
    text-decoration:none;
    color:#212121;
}
div.menu ul li a:hover{
    background: url('img/fleur-de-lis_1.png') 50% center no-repeat;
}
.menu a:hover:after,
#menu a:active:after,
#menu a:focus:after{
    /*content: " "*/
    }
div.menu ul li li a:hover{background:none;}
.menu .current_page_item a{
    cursor:default;
    /*color:#99AFAF */
    }
.menu .current_page_item a:after{content: " ※"}
.menu a:focus{}
/* Sub-menu hide overrides */
/*

*/
.menu ul li.current-cat {
    background:#f7f7f7;
}
.menu ul li.current-cat-parent ul{
    display:block;
}
p.credits{
    clear:both;
    color:#717375;
    font-size:.85em;
    text-align:center;
    display:block;
    padding:20px 0;
}
/* =Content
-------------------------------------------------------------- */
#main{
    padding:0 0 54px 0;
    margin:0;
    overflow:visible;
    clear: both;
}
#container{
    margin:0;
    padding:0;
}
.archive #container,
.search #container{
    margin-top:0;
}
#content{
    padding:25px 0 0 0;
    margin:0;

}
#content:hover a,
#content:hover a:link,
#content:hover a:visited{
    color:#212121;
    text-decoration:underline
}
#content:hover a:hover{
    color:#0CF;
    text-decoration:underline;
}
#content:hover .entry-title a,
#content:hover .entry-title a:hover,
#content:hover .page-title a:hover,
#content:hover .navigation a:link,
#content:hover .navigation a:visited,
#content:hover .navigation a:hover{
    text-decoration:none;
}
#content:hover .entry-utility a{
    color:#fff;
}
#content:hover .entry-utility a:hover{
    color:#fff;
    text-decoration:none;
}
 
/* =Titles/Headings ----- */
.hentry{
	margin:12px 0 0 0;
	padding:14px 0 6px 0;
	border-bottom:1px dashed #DFDFDF;
	position:relative;
	}
.single .hentry  {
            	
        margin-top:0;
        margin-bottom:10px;
        padding-top:0;
        border-bottom: none;

}
.archive .hentry{
	margin:0;
	padding:0;
        border-bottom:none;
	}
.p1{
	margin:0;
	padding:0 0 6px 0;
	border:none
	}
.page-title{
	font-size:2.5em;
	margin-bottom:1em;
	padding:0;
	font-weight:200;
	font-style:italic;
	display:block;
	line-height:1em;
	}
.page-title span{
	font-weight:bold;
	font-style:normal
	}
.entry-title a {
	color:#999;	
}
.single .entry-title{
	font-weight:bold;
	font-size:2.5em;
	line-height:1em;
	margin-bottom:.7em;
	color:#444;
	}
.single .entry-content {
	margin-top:20px;
	}	
.home .entry-title{font-weight:bold;font-size:1.2em;margin-bottom:1.4em;}
.category .entry-title, .tag .entry-title {font-size:0.905em}
.home .hentry {width: 49%; clear:left; float:left;}
.home .odd{clear:none;}
.home .hentry > div{padding-right: 13px;}
.home .p1{
	width: 100%; float:none;
	margin:0;
	padding:0 0 6px 0;
	border:none
	}
.attachment .entry-title {font-style:normal;line-height:36px;padding-top:0;}
.archive .page-title, .archive .page-title span {padding-bottom:0;}
.archive .entry-title {
	padding-top:0;
	margin-top:0;
	}
.archive .category {
    margin:1em 0;
    font-size:1.3em;
        }        
.archive .entry-title a {
    line-height:1.25em;
    padding:.35em 0;
    display:block;
    border-bottom:1px dashed #DFDFDF;
        }        
.archive-meta p {line-height:24px;}

/* =Date Style ----- */
.date-meta{position:absolute;background:#FFF;border-right:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;display:none;top:39px;right:0;text-align:center;padding:0;line-height:1em;width:90px;height:70px;border-bottom-right-radius:10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomright:10px}
.p1 .date-meta, .archive .p1 .date-meta, .single .date-meta, .attachment .date-meta {top:-9px;}
.date-day {clear:both;float:none;display:block;font-size:3em;line-height:0.7em;letter-spacing:-0.05em;padding-top:10px;}
.date-tense {font-size:0.4em;padding-left:2px;font-weight:200;letter-spacing:0.0em;}
.date-month-year {clear:both;float:none;display:block;padding-top:1px;}

/* =Body Copy/Content ----- */
h3 {clear:left;}
.entry-meta{display:none;}
.entry-meta a{font-style:italic}
.entry-meta a:hover{}
.entry-meta .author{font-size:0.8em;color:#D9D8D6}
.entry-meta .meta-sep{}
.entry-meta abbr{}
.entry-content{margin:0;padding:0;overflow:hidden;font-size:.9em;}
.entry-content p {margin-bottom:24px;}
.entry-content a {
    text-decoration:underline;
}
.entry-content a:link{
    color:#ccc;
}
.entry-content a:visited{
    color:#999;
}
.entry-content a:hover{color:#06F;}
.entry-content h1{font-weight:bold;font-size:1.6em;margin:0;padding:36px 0 0 0}
.entry-content h2{font-weight:bold;font-size:1em;padding:0;margin:1em 0}
.entry-content h3{font-weight:bold;font-size:1em;margin:0;padding:12px 0 0 0}
.entry-content h4{font-weight:bold;font-size:.9em;margin:0;padding:6px 0 0 0}
.entry-content h5{font-weight:bold;font-size:1.2em;}
.entry-content h6{font-weight:bold;font-size:1.1em;}
.entry-content ul{list-style:square;margin:0 0 24px 1.5em}
.entry-content dt{font-weight:bold}
.entry-content dd{margin:0 0 24px 0}
#content .entry-content code, #content .entry-content pre {line-height:24px;color:#686F6F;padding:12px;display:block;background:#fff;border-right:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;border-bottom-right-radius:10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomright:10px}
.entry-content pre {overflow-x:scroll;}

#content:hover .entry-content code,
#content:hover .entry-content pre {
    color:#000;
}
#content .entry-content blockquote {
    font-size:1.2em;color:#686F6F;
}
#content:hover .entry-content blockquote {color:#000;}
.entry-content abbr, .entry-content acronym, .entry-content .help{border-bottom:1px dotted #333;cursor:help}
.entry-content ul.xoxo{margin:0 0 24px 0;overflow:hidden}
.entry-content img {margin-bottom:12px;padding:0 1px 1px 0;border-right:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;}
.attachment .entry-content img {margin-top:24px;}
.entry-content ul.xoxo ul{margin:0 0 0 1.5em}
.entry-content li.linkcat, li.content-column {float:left; list-style:none; margin:0 20px 0 0}
.entry-content li.linkcat ul.xoxo{overflow:visible}
.more-link{font-weight:200;font-style:italic;}
.page-link{margin:0 0 24px 0}
.page .edit-link{float:left;clear:both}
#content:hover .edit-link a, .edit-link a {color:red;}
.entry-utility{font-size:.8em; color:#ccc;margin-top:10px;}
.entry-utility a{
    border:1px solid #ccc;
    color:#ccc;
    padding:3px 4px;
    margin-right:5px;

}
 .entry-utility{color:#999}
#content:hover .entry-utility a{
    color:#333;
    text-decoration:none;
}
#content:hover .entry-utility a:hover{color:#FFF; background:#333; border: 1px solid #333;}
.comments-link a{font-weight:bold; background:#ededed;}
.gallery-caption {font-size:0.6em;}

/* =Comments
-------------------------------------------------------------- */
#comments{margin:24px 0 0 0;padding:24px 0;overflow:hidden;float:none;clear:both;}
#comments h3{font-size:1em;margin:0 0 12px 0;font-weight:bold}
#comments .comments:first-child h3{padding-top:24px}
#comments ol, #comments ul {margin:0 0 36px 0;list-style:none}
#comments li{margin:0 0 24px 0;padding:0;position:relative}
#comments a{}
#comments li.byuser{}
#comments li.byuser p a{}
#comments li.bypostauthor{}
#comments li.bypostauthor p a{}
#comments .avatar{width:48px;height:48px;position:absolute;border-right:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;top:12px;left:10px !important;left:0px}
#comments .fn{font-weight:bold;padding:12px 0 0 0;display:block}
#comments .fn a{}
#comments-list .comment-meta{font-size:0.65em;margin:0 0 12px 0;padding:0;font-family: "lucida sans unicode","lucida grande",sans-serif;}
#comments-list .comment-meta a{font-style:italic;}
#comments-list li.comment {background:#fff;border-top:1px solid #ccc;}
#comments-list li.comment.alt {background:#F4F3F1;}
#comments li {padding:0 10px;}
#comments li p{margin:0;padding:0 0 12px 0;}
#comments li.comment .comment-content ul {margin:0 0 0 20px;padding:0 0 12px 0;}
#comments li.comment .comment-content ul li {background:transparent;border:none;margin:0 0 0 20px;padding:0;list-style:disc;}
#trackbacks-list .comment-author{margin:0 0 24px 0;}
#trackbacks-list .comment-author a{font-weight:bold;}
#respond{width:549px;}
#respond h3{font-size:1.2em;margin:0 0 24px 0;}
#respond form{padding:0 0 36px 0}
#respond #form-section-author{width:100%;float:left}
#respond #form-section-author input{width:50%}
#respond #form-section-email{width:100%;float:right}
#respond #form-section-email input{width:50%}
#respond #form-section-url{width:100%}
#respond #form-section-url input{width:50%}
#respond .form-label{}
#respond .form-input input{margin:0 0 14px 0}
#respond textarea{width:100%;margin:0 0 16px 0}
#respond .form-submit{float:right}
p.subscribe-to-comments{width:260px;float:left}
p.subscribe-to-comments label{}
p.comment_license{clear:both;margin:0}
p.solo-subscribe-to-comments{clear:both;margin:0}
p.solo-subscribe-to-comments:first-line{font-style:italic}
#respond .required{font-weight:bold;color:red;}
#content input#submit{background:#DFDFDF;}
#content:hover input#submit{background:#bf4c18;}

/* =Author Info
-------------------------------------------------------------- */
#author-info{margin:24px 0 48px 0}
#author-info p:first-line{font-weight:bold}
#author-info .avatar{float:left;width:72px;height:72px;margin:0 10px 0 0;padding:5px;background:#B5D1EA;position:relative;top:4px}

/* =Navigation
-------------------------------------------------------------- */
.navigation{margin:0 0 48px 0;padding:0 0 1px 0;clear:both;float:none;display:block;width:100%;}

.nav-previous{
    float:left;
    width:50%;
    background:url('img/menu-div2.png') top left no-repeat;
    }

.nav-next a span,
.nav-previous a span{
    display:block;
    font-size:4em;
    margin:5px;
}
.nav-next a,
.nav-previous a{
    padding:10px;
    display:block;
    color:#999;
    }
.nav-previous a span{
    float:left;
    }

.nav-next{
    float:right;
    width:50%;
    text-align:right;
    background:url('img/menu-div1.png') top right no-repeat;
}

.nav-next a span{
    float:right;
    }
    
#nav-above{margin:12px 0 48px 0}
.home.paged #nav-above{margin:12px 0 48px 0}
#nav-below.navigation {
    line-height:1.5em;
    font-size:.9em;

}
span.meta-nav {}
.home #nav-above, .single #nav-above{display:none}
.paged #nav-above{display:block}

/* =Asides (widgetized areas)
-------------------------------------------------------------- */
.aside {padding-top:24px;color:#597533;}
.aside a {color:#999;}
.aside ul{font-size:0.8em;line-height:24px;margin:0;list-style:none;}
.aside ul li {line-height:12px;}

.aside ul li.widgetcontainer:hover, .aside ul li:hover {color:#000;}
.aside ul li.widgetcontainer:hover a, .aside ul li:hover a, .aside ul li.widgetcontainer:hover caption {color:#000;}
.aside ul li#search, .aside ul li#tag_cloud {margin-bottom:24px;}

.aside h3 {padding:0;margin:0;font-size:1.25em;font-weight:bold;}
.aside ul ul{list-style:none;margin:0 0 24px 0;}
.aside ul ul ul{margin:0 0 0 1.5em}

/* aside tags */

.aside ul.tags li {float:left;padding:2px 4px 2px 0;}
.aside ul.tags li a{
    padding:3px 4px;
    border: 1px solid #ccc;
    display:block;
}
.aside ul.tags li a:hover,
.aside ul.tags li.current-tag a{
    border: 1px solid #333;
    background:#333;
    text-decoration: none;
    color:#fff
}
.main-aside {padding-left:15px;}
#primary.main-aside{padding-top:12px;}
#primary.main-aside:hover {background-position:0px 0px;}
.main-aside input#s{
    color:#999;
    width:100%;
    margin:12px 0;
    padding:4px 2px;
    border:1px solid #ccc
}
.main-aside h3{padding:0}
.widget_rss a.rsswidget img {float:right;display:inline;}
/* Begin Calendar styles */
.aside table{margin:0 0 24px 0}
.aside th{}
.aside tr{line-height:24px}
.aside td{padding:0 4px;font-size:0.8em;}
.aside td a{background:#FFF;display:block;}
.aside caption{font-size:1.25em;line-height:24px;font-weight:200;font-style:italic;text-align:left;margin:0}
.aside tfoot tr{border:none;line-height:24px}
.aside tfoot td{border:none;line-height:24px;padding:0;font-size:1em;}
.aside tfoot td a {background:transparent;}
.aside #next{text-align:right}
/* End Calendar styles */

/* Begin Search styles */
.aside ul li#search input#searchsubmit{background:#DFDFDF;}
.aside ul li#search:hover input#searchsubmit{background:#bf4c18;}
.aside form{margin:0 0 4px 0;padding-bottom:6px;line-height:24px;}
/* End Search styles */

#content .widgetcontainer{border-top:1px solid #e0e0e0;padding:35px 1px 24px 1px;margin:24px 0 36px 0}
#index-top .widgetcontainer, #single-top .widgetcontainer, #page-top .widgetcontainer{border-top:none;padding:0 1px 53px 1px;margin:0 0 36px 0}
#content .aside {width:100%;}
#content .aside:first-child .widgetcontainer:first-child{padding-top:24px}
.page #content .aside:first-child .widgetcontainer:first-child{padding-top:0}
#single-bottom .widgetcontainer{border-top:1px solid #e0e0e0;width:100%;}
#footer .widgetcontainer{padding:0 1px;margin:0 0 24px 0}

/* Tags */
.tags {margin-top:20px}
.aside ul.tags {list-style:none;font-size:1em;}
.aside ul.tags li.widgetcontainer:hover a, .aside ul.tags li:hover a {}

/*.aside ul.tags li:after{content:", "}
.aside ul.tags li:last-child {font-weight:bold;}
*/


/* =Footer
-------------------------------------------------------------- */
#footer{padding:48px 0 0 0;display:none;}
#subsidiary {width:760px;margin:0 0 0 230px;border-top:1px solid #DFDFDF;}
#subsidiary .aside{margin-bottom:24px;width:30%;margin-right:3.33%}
#siteinfo{position:fixed;display:block;bottom:0;left:0;padding:12px 0;margin:0;width:200px;padding:10px;font-size:0.65em;line-height:12px;font-family: "lucida sans unicode","lucida grande",sans-serif;}
#siteinfo a{font-style:italic}
#siteinfo:hover a:link, #siteinfo:hover a:visited{color:#40CFCF;text-decoration:none}
#siteinfo:hover a:hover{color:#99AFAF;text-decoration:none}

/* =PageNavi
-------------------------------------------------------------- */
/* Use !important to override PageNavi CSS */
.wp-pagenavi{margin:0 0 0 0;line-height:36px}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active{color:#2772B3 !important;background:#transparent !important;border:1px solid #e0e0e0 !important}
.wp-pagenavi a:hover{ !important}
.wp-pagenavi span.pages{margin-left:0 !important;padding-left:0 !important}
.wp-pagenavi span.current{border:1px solid #e0e0e0 !important}
.wp-pagenavi span.extend{margin:0 !important}

/* Recipes Styles */

ul.recipe-details, div.recipe-details {display:none;}

@media screen and (min-width: 1024px){
	body {		
		font-size:1.2em;
	}
}
/*
@media screen and (max-width: 768px){
	body {		
		font-size:.9em;
	}
}
*/